.domain {
  &__domain-name {
    margin-bottom: 20px;
  }
  &__path-form {
    display: flex;
    justify-content: start;
    input {
      margin-right: 10px;
      height: 40px;
      max-width: 350px;
    }
  }
}